.choices {
    width: 100%;
    background: var(--color-bg);
    border: 1px solid transparent;
    border-radius: var(--radius-label);
    transition: border-color .3s ease;

    &:hover,
    &:focus-visible {
        border-color: var(--color-border-choices);
    }
}

.choices__list {
    background: var(--color-bg-alt-2);
    border-radius: 3px;
}

.choices__list--multiple,
.choices__list--single {
    background: transparent;
    border-radius: 0;
}

.choices__input,
.choices[data-type*=select-one] .choices__input {
    color: var(--color-text-input);
    background-color: transparent;
    margin: 0;
    @include fontTags;
}
.choices[data-type*=select-one] .choices__input {
  display: none;
}

.choices__inner {
  min-height: 25px;
}

.choices[data-type*=select-multiple] .choices__inner,
.choices[data-type*=select-one] .choices__inner {
    border: 0;
    padding: 1px 5px;
    border-radius: var(--radius-label);
    background: var(--color-bg);
}

.choices[data-type*=select-multiple] .choices__inner {
  padding-right: 10px;
}

.choices[data-type*=select-multiple]::after,
.choices[data-type*=select-one]::after {
    content: '';
    position: absolute;
    right: 11.5px;
    top: 50%;
    background-image: url('@/assets/svg/select-arrow.svg');
    background-size: cover;
    width: 13px;
    height: 8px;
    border: 0;
    transition: transform .3s ease;
    margin-top: -2.5px;
    pointer-events: none;
}

.choices[data-type*=select-multiple].is-open::after,
.choices[data-type*=select-one].is-open::after {
    margin: 0;
    transform: rotate(180deg) translateY(50%);
}

.choices__list--multiple .choices__item {
    display: inline-block;
    vertical-align: middle;
    @include fontTags;
    border: none;
    margin: 0;
    padding: 0 5px 1px 5px;
    background: var(--color-bg-btn);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    &:not(:last-child) {
        margin-right: 4px;
    }
}

.choices__list--single .choices__item {
  display: inline-block;
  vertical-align: middle;
  @include fontTags;
  border: none;
  margin: 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    padding: 4px 1px 2px 1px;
    max-height: 148px;
}

.choices__list::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.3);
    width: 14px;
    padding: 0 2px;
}

.choices__list::-webkit-scrollbar-thumb {
    background: var(--color-bg-alt);
    height: 39px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    border: none;
    margin-top: 2px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background: var(--color-bg-alt);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    margin-bottom: 2px;
    padding: 1px 1px 1px 3px;
    font-family: 'SFProDisplay';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px
}

.choices[data-type*=select-multiple] .choices__button,

.choices[data-type*=text] .choices__button {
    line-height: 99%;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    width: 11px;
    opacity: .6;
    background-image: url('@/assets/svg/cross-del.svg');
    background-size: cover;
}
.choices[data-type*=select-one] .choices__button {
  opacity: .6;
  background-image: url('@/assets/svg/cross-del.svg');
  background-size: cover;
}
