.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 10px 18px;
  color: var(--color-text);
  background-color: var(--color-bg);
  @media (min-width: 430px) {
  }
  @media (min-width: 980px) {
  }
  @media (min-width: 1366px) {
    position: absolute;
    z-index: 4;
    padding: 20px 30px 20px 20px;
  }
  &__logo {
    width: 136px;
    height: 28px;
    background-image: url('@/assets/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @media (min-width: 430px) {
    }
    @media (min-width: 980px) {
    }
    @media (min-width: 1366px) {
      width: 250px;
      height: 52px;
    }
  }
  &__btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_deactive {
      @media (min-width: 1366px) {
        display: none;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid transparent;
    width: 35px;
    height: 35px;
    background-color: var(--color-bg-btn-alt-3);
    @media (min-width: 1366px) {
      width: 57px;
      height: 57px;
    }
    &:first-child {
      margin-right: 5px;
    }
    svg {
      display: inline-flex;
      height: auto;
      width: auto;
    }
    path,
    ellipse {
      stroke: var(--color-svg-alt-3);
    }
    span {
      display: none;
    }
    &_plug {
      opacity: 0;
      pointer-events: none;
    }
  }

}