.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  color: var(--color-text-1);
  background-color: rgba(206, 26, 237, 0.6);
  background: radial-gradient(51.59% 91.71% at 70.65% 50%, rgba(205, 26, 237, 0.882) 0%, rgba(206, 26, 237, 0.6) 100%);
  backdrop-filter: blur(6px);
  &__box {
    display: flex;
    align-items: center;
    padding-left: 108px;
    min-height: 100px;
  }
  &__burger {
    display: none;
  }
  &__logo {
    margin-right: calc(372/1716 * 100%);
  }
  &__nav {
  }
  &__list {
    display: flex;
    gap: 56px;
    height: 100%;
  }
  &__item {
    padding: 0 32px;
    height: 100%;
  }
  &__link {
    font-weight: 600;
    font-size: 0.67rem;
    line-height: 0.69rem;
    color: var(--color-text-1);
  }
}