:root {
    --color-bg: #2B2A31;
    --color-bg-alt: #3A3940;
    --color-bg-alt-2: #4E4D58;
    --color-bg-card: #4E4D58;
    --color-bg-card-alt: #3A3940;
    --color-bg-card-alt-2: #2B2A31;
    --color-bg-btn:#67666F;
    --color-bg-btn-alt:#2B2A31;
    --color-bg-btn-alt-2:#FFCA05;
    --color-bg-btn-alt-3:#191820;
    --color-border: rgba(255,255,255,0.5);
    --color-border-alt: #AAAAAA;
    --color-border-alt-2: #ffc9057e;
    --color-border-alt-3: #FFCA05;
    --color-border-alt-4: #191820;
    --color-border-act:#FFCA05;
    --color-text: #fff;
    --color-text-2: #FFCA05;
    --color-text-btn: #000;
    --color-text-btn-alt: #000;
    --color-text-btn-alt-2: #000;
    --color-text-btn-alt-3: #fff;
    --color-text-btn-noactive:rgba(255, 255, 255, 0.5);
    --color-text-plus: #45C93A;
    --color-text-minus: #ED3232;
    --radius-btn: 15px;
    --radius-btn-alt-2: 7px;
    --radius-btn-alt-3: 100px;
    --radius-label: 7px;
    --radius-card-mid: 15px;
    --radius-card-big: 30px;
    --color-svg: rgba(255,255,255,0.5);
    --color-svg-alt: #FFCA05;
    --color-svg-alt-3: #fff;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;
    --color-bg: #2B2A31;

    --color-border-choices: rgba(255, 202, 5, 0.6);

    --color-placeholder: rgba(255,255,255,0.6);
    --color-text-input: #fff;


    --font-size-input: 14px;
    --font-size-tags: 12px;
    --font-size-subtitle: 17px;


    --line-height-input: 17px;
    --line-height-tags: 14px;
    --line-height-subtitle: 20px;



    --font-weight-input: 300;
    --font-weight-tags: 300;
    --font-weight-subtitle: 600;


    --font-family-input: 'SFProDisplay';
    --font-family-tags: 'SFProDisplay';
    --line-height-subtitle: 'SFProDisplay';

}
