.knob {
    position: relative;
    border-color: transparent;
    outline: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--color-text-btn);
    background-color: var(--color-bg-btn);
    cursor: pointer;
}